<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.OutLiveMapper">

    <!-- 查询某楼栋下所有房间号 -->
    <select id="selectRoomIdsByBuildId" resultType="java.lang.Integer">
        SELECT dormroom_id
        FROM dorm_room
        WHERE dormbuild_id = #{dormbuildId}
    </select>

</mapper> 